.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem;

    &--home {
        margin-top: -20vh; // (The height of the header is 95vh and the polygon is 75vh so distance separting these sections is 20vh
    }

    &--dashboard{
        margin-top: -49vh; // (The height of the header is 95vh and the polygon is 75vh so distance separting these sections is 20vh
    }
}

.section-features {
    padding: 20rem 0;
    //this is copied from header
    background-image: linear-gradient(
        to bottom right, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)) , 
    url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-7deg);
    margin-top: -10rem;
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 14rem 0;
    margin-top: -10rem;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
}

.section-book {
    padding: 7rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-tertiary-dark);
    position: relative;
    z-index: -2;
}

.book {
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%,
                                    transparent 50%) ,
                            url(../img/graphic-edit.gif);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    transform: scale(.8);
    height: 100rem;
    z-index: 5;

    &__form {
        width: 57%;
        padding: 6rem;
        position: relative;
        z-index:5;
    }
}

.new-form-background {
    background-size:cover;
    height: 114rem;
    background-blend-mode:screen; //allows you to use photoshop techniques
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-secondary-dark), url(../img/sky.jpeg);
    position: absolute;
    z-index: -1;
    width:100%;
    top:0;
    left:0;
}

.form-row {
    display : flex; 
    justify-content : space-between;
    position: relative;
}

.login,
.reg{
    display:flex;
    justify-content: center;
    align-content: center;
}

.login{
    position: absolute;
    top:0rem;
    left:100rem;
    transform-origin: bottom left;
    animation: jiggle-login .4s ease-out 2.9s;
    animation-fill-mode: backwards;
}

.reg{
    position: absolute;
    top:0rem;
    left:-16rem;
    transform-origin: bottom right;
    animation: jiggle-reg .4s ease-out 2.9s;
    animation-fill-mode: backwards;
}

.cover{
    position: absolute;
    top: 0rem;
    left: 40rem;
    transform: rotate(-12deg) scale(1.3);
    z-index:5;
    animation: jiggle 1s ease;
}